{{ $src := .Src }}
{{ $alt := .Alt }}
{{ $class := .Class }}
{{ $width := .Width }}

{{ if $src }}
  {{ if hasPrefix $src "http" }}
    <img src="{{ $src }}" class="{{ $class }}" alt="{{ $alt }}"{{ if $width }} style="width: {{ $width }};"{{ end }}>
  {{ else }}
    {{ $image := resources.Get $src }}
    {{ if $image }}
      <img src="{{ $image.RelPermalink }}" class="{{ $class }}" alt="{{ $alt }}"{{ if $width }} style="width: {{ $width }};"{{ end }}>
    {{ else }}
      <img src="{{ $src | absURL }}" class="{{ $class }}" alt="{{ $alt }}"{{ if $width }} style="width: {{ $width }};"{{ end }}>
    {{ end }}
  {{ end }}
{{ end }}